<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/meta.ejs")%>

        <title>
            <%= title%>
        </title>
</head>

<body>
    <h1> HOME FORM PAGE </h1>
    <%- include("../partial/data.ejs")%>
        <br>
        <br>

        <%- include("../partial/section.ejs")%>

</body>

</html>