<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/meta.ejs")%>
        <title>
            <%= title%>
        </title>
</head>

<body>




    <h1>index page</h1>

    <a href="/download">click here and download a appointment for get appointment num</a>
    <button>ok</button>

    <%- include("../partial/data.ejs")%>
        <br>
        <br>
        <%- include("../partial/section.ejs")%>

</body>

</html>