<%- include("../partials/meta") %>

    <body>
        <form action="/register" method="post" class="bg-gray-100 ml-[35%] w-[16rem] mt-[20rem]">
            Name:
            <div> <input type="text" name="name" class="bg-black text-white font-extrabold" autocomplete="off" required><br></div> Email:
            <div> <input type="text" name="email" class="bg-black text-white font-extrabold" autocomplete="off" required><br></div> Phone:
            <div><input type="text" name="phone" class="bg-black text-white font-extrabold" autocomplete="off" required><br></div> Password:
            <div><input type="text" name="password" class="bg-black text-white font-extrabold" autocomplete="off" required></div><br>
            <button class="bg-yellow-900 font-extrabold">buttton</button>
        </form>
    </body>

    </html>